body{
    margin:0;
    padding:0;
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
    "sidebar    header"
    "sidebar    main"
}

/* placeholders */
body{
    nav{
        background-color: lightblue;
    }
    header{
        background-color: lightpink;
    }
    main{
        background-color: lightgreen;
    }
    .announcements{
        background-color: lightyellow;
    }
    .trending{
        background-color: lightblue;
    }
    .card{
        background-color: white;
    }
    .placeholderimg{
        background-color: red;
        border-radius: 100%;
        width:50px;
        height:50px;
    }

    .placeholderimg.icon{
        width:30px;
        height:30px;
    }
    }


/* SIDEBAR */
nav{
    grid-area: sidebar;
}


/* HEADER */
header{
    grid-area: header;
}

.header-top, .header-btm, .header-top>div, .header-btm>div{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
}

/* header top */
.header-top{
    grid-template-columns: 3fr 1fr;
    gap: 20%;
}

.search-bar{
    grid-template-columns: 40px 1fr;
}

/* header btm */
.header-btm{
    grid-template-columns: 3fr 1fr;
}
.user-greeting{
    grid-template-columns: 60px 5fr;
    grid-template-rows: 1em 2em;
    grid-template-areas:
    "icon   small-text"
    "icon   big-text";
    
}

.user-greeting .placeholderimg{
    grid-area: icon;
}
.user-greeting .small-text{
    grid-area: small-text;
}
.user-greeting .big-text{
    grid-area: big-text;
}

.actions{
    justify-content: space-around;
}

/* MAIN */
main{
    grid-area: main;
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "projects   announcements"
    "projects   trending";
}

/* MAIN - PROJECTS */
.projects{
    grid-area: projects;
}

.projects .cards{
    display:grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
}


/* MAIN - ANNOUNCEMENTS */
.announcements{
    grid-area:announcements;
}

.announcements>div{
    display:grid;
}

/* MAIN - TRENDING */
.trending{
    grid-area:trending;
}

.trending-user{
    display:grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 2em 2em;
    grid-template-areas: 
    "icon   username"
    "icon   desc";
    align-items: center;
}
.trending-user .placeholderimg{
    grid-area: icon;
}
.trending-user .username{
    grid-area: username;
}
.trending-user .user-desc{
    grid-area: desc;
}
.trending-user p{
    align-items: center;
}
